<!-- NABAR -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Certus</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Características</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Soporte para</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Precios</a>
      </li>
      <button type="button" class="btn btn-outline-info">Inscribirse</button>
    </ul>
  </div>
</nav>
